header {
  border-bottom: 1px solid #ececec;
}
.header-section {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}
.menu-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .item-li + .item-li {
  margin-left: 50px;
} */
.item-li:not(:last-child) {
  margin-right: 50px;
}
.item-li {
  display: block;
  animation-duration: 250ms;
  animation-delay: 500ms;
}

.nav-adress {
  display: flex;
  margin-left: auto;
}
.mail-contact {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.menu-contact {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu-contakt);
  fill: var(--color-menu-contakt);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-contact {
  margin-right: 10px;
}

.menu-list:hover,
.menu-list:focus,
.menu-contact:hover,
.menu-contact:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}
